<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="program">

<!-- 체험프로그램글 총건수: 상시 제외하기  -->
<select id="totalCount1" resultType="integer">
select count(*) from program_plan where plan_always=0
</select>

<!-- 체험프로그램목록에서 상시 제외하기 -->
<select id="list" resultType="program">
	select *
from (select row_number() over(order by plan_start_date desc) no, p.*
      from program_plan p where plan_always=0) n
where no between #{beginList} and #{endList} 
order by no desc
</select>

<select id="list1" resultType="program">
	select *
from program_plan
order by 1
</select>

<select id="state_list" resultType="state">
	select * from apply_state order by code
</select>


<insert id="add_application">
	insert into applicant (name, phone,email,headcount,plan_id,application_date,plan_time)
	values ( #{name}, #{phone} , #{email}, #{headcount}, #{plan_id}, #{application_date}, #{plan_time})
</insert>


<update id="update_state">
update applicant set state_code = #{state_code}
where id = #{id}
</update>

<select id="personnel_list2" resultType="applicant">
	select *
	from (select row_number() over(order by id) no,a.* from(SELECT a.*,to_date(to_char(a.application_date,'YYYY-MM-DD')) apllication_date, s.state, p.plan_name
	from applicant a left outer join apply_state s on a.state_code=s.code 
					 left outer join program_plan p on a.plan_id=p.id
	order by a.id desc) a)
    where no between #{beginList} and #{endList}		 
	order by no desc
</select>


<insert id="newprogram">
	insert into program_plan (plan_start_date, plan_end_date,plan_name,plan_time_am,plan_time_pm)
	values ( #{plan_start_date}, #{plan_end_date} , #{plan_name}, #{plan_time_am}, #{plan_time_pm})
</insert>

<delete id="deleteprogram">
	delete from program_plan where id = #{id}
</delete>

<update id="updateprogram">
update program_plan set plan_name = #{plan_name}, 
	plan_start_date=#{plan_start_date} , plan_end_date=#{plan_end_date}, 
	plan_time_am=#{plan_time_am}, plan_time_pm=#{plan_time_pm}
where id = #{id}
</update>

<select id="info" resultType="program">
	select * from program_plan where id = #{id}
</select>

<!-- 상시프로그램조회 -->
<select id="always" resultType="program">
	select * from program_plan where plan_always = 1
</select>


<!-- 공지글에 연결되지 않은 비상시프로그램 목록조회 -->
<select id="plan_list" resultType="program">
	select * from program_plan 
	where plan_always = 0 and  id  not in (select plan_id from notice where plan_id is not null)
	order by plan_start_date
</select>

<!-- 선택된 체험+ 공지글에 연결되지 않은 프로그램 목록조회 -->
<select id="plan_list_include" resultType="program">
	select * from program_plan 
	where plan_always = 0 and ( id  not in (select plan_id from notice where plan_id is not null) or id = #{option} ) 
	order by plan_start_date
</select>


<select id="applicant_headcount" resultType="integer">
	select 10-nvl(sum(headcount),0) from applicant where plan_id = #{plan_id} and   application_date = #{application_date} and   plan_time = #{plan_time}
</select>

<!-- 신규 체험신청 저장 -->
<insert id="application">
	insert into applicant ( name, phone, email, plan_id, headcount, application_date  )
	values( #{name}, #{phone}, #{email}, #{plan_id}, #{headcount}, #{application_date} )
</insert>

<!-- 공지글 총건수 -->
<select id="totalCount" resultType="integer">
select count(*) from applicant
</select>

</mapper>