@charset "UTF-8";

.admin-contaner{
	display: flex;
    width: 100vw;
    height: 100vh;
}

.admin-contaner p{
	margin-bottom: 0;
}

.admin-contaner .menu{
    width: 10%;
    background-color: #2a5baa;
}

.admin-contaner .menu a{
	color: black;
}

.admin-contaner .menu a:hover{
    color: gray;
}

.admin-contaner .menu a:active{
    color: aliceblue;
}

.admin-contaner .menu .profile{
    height: 28%;
}

.admin-contaner .menu .profile img{
    width: 60%
}

.admin-contaner .menu .profile p{
    text-align: center;
    margin: 15px;
    font-size: x-large;
    font-family: fantasy;
}

.admin-contaner .menu .slot{
    height: 18%;
}

.admin-contaner .menu .slot img{
    width: 65px;
    height: 65px;
    margin-bottom: 15px;
}

.admin-contaner .menu .select{
    border-left: 5px solid #17aeef;
    background-color: #1d4f9b;
}

.profile, .slot{
	position: relative;
}


.profile .content, .slot .content{ 
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.admin-contaner .workpage{
	width: 100%
}

.admin-contaner .workpage .head{
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.admin-contaner .workpage .head img{
    width: 30px;
    margin: 20px 20px 20px 0;
}

.admin-contaner .workpage .head p{
    font-size: xx-large;
    font-family: fantasy;
}

.noadmin {
	display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:480px){
	.noadmin{
		width: 100vw;
		height: 100vh;
	}
}

.noadmin img{
	width: 40vw;
}

@media screen and (max-width:480px){
	.noadmin img{
        width: 90vw;
	}
}

.noadmin p{
	font-size: 85px;
	text-align: center;
}

@media screen and (max-width:480px){
	.noadmin p{
        font-size: 25px;
	}
}
.contaner{
	margin: 0 auto;
	width: 1150px;
	padding-top: 100px;
}
.logincontaner{
	margin: 0 auto;
	width: 850px;
	padding-top: 100px;
}

.contaner table{
	text-align: center;
	border: 1px solid #444444;
	border-collapse: collapse;
}

.contaner table tr{
	height: 50px;
}

.contaner table td,.contaner table th{
	border: 1px solid #444444;
	vertical-align: middle !important;
}

.contaner table th{
	font-size: 35px
}

.contaner table td{
	font-size: larger;
}

.contaner table td p{
	font-size: larger;
}

.contaner table td button{
    width: 80%;
    height: 30px;
    background: gray;
    color: white;
}

.contaner table td button:hover{
    color: black;
}

.inputID, .inputPW{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.inputID label, .inputPW label{
    font-weight: bold;
    font-size: 50px;
}

.inputID input, .inputPW input{
    height: 50px;
    width: 540px;
    font-size: 40px;
    border-radius: 15px;
}

.loginButton{
	display: flex;
    justify-content: space-evenly;
}

.loginButton button{
	width: 200px;
    height: 50px;
    font-size: 30px;
    font-family: sans-serif;
}

.addback{
	display: flex;
    flex-direction: row;
    justify-content: center;
}

.addback button{
	margin: 20px;
    width: 80px;
    height: 35px;
    background: gray;
    color: white;
}

.addback button:hover{
    color: black;
}

.text-success{
	color:green !important;
}

.text-danger{
	color:red !important;
}

.inputid{
	display: flex;
}

#registertable input,#settingtable input{
	width: 95%;
    margin: 0 10px;
    border-radius: 5px;
    height: 35px;
    font-size: larger;
}

.inputid button {
	width: 80px !important;
    height: 40px !important;
    margin-right: 5px;
    border-radius: 5px;
}

.modify-form{
	width: 97%;
    height: 35px;
    font-size: larger;
    text-align: center;
    border-radius: 5px;
}

.fail-text{
	text-align: center;
    margin-bottom: 50px;
    color: red;
}

.list{
	display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.list .addbtn{
	margin-bottom: 10px;
    width: 100px;
    height: 40px;
    font-size: large;
}

.state_ready{
	background-color: cornsilk;
}

.state_check{
	background-color: aliceblue;
}

.state_finish{
	background-color: lightgreen;
}

.state_cancell{
	background-color: darkgrey;
}

.state_option{
	width: 100%;
    height: 50px;
    border: none;
    text-align: center;
    font-size: large;
}
