@charset "UTF-8";

.contaner{
	margin: 0 auto;
	width: 850px;
	padding-top: 100px;
}

.contaner table{
	text-align: center;
	border: 1px solid #444444;
	border-collapse: collapse;
}

.contaner table tr{
	height: 50px;
}

.contaner table td,.contaner table th{
	border: 1px solid #444444;
}

.contaner table th{
	font-size: 35px
}

.contaner table td{
	font-size: 20px
}

.contaner table td button{
    width: 80%;
    height: 30px;
    background: gray;
    color: white;
}

.contaner table td button:hover{
    color: black;
}

.inputID, .inputPW{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.inputID label, .inputPW label{
    font-weight: bold;
    font-size: 50px;
}

.inputID input, .inputPW input{
    height: 50px;
    width: 500px;
    font-size: 40px;
    border-radius: 15px;
}

.loginButton{
	display: flex;
    justify-content: space-evenly;
}

.loginButton button{
	width: 200px;
    height: 50px;
    font-size: 30px;
    font-family: sans-serif;
}

.addback{
	display: flex;
    flex-direction: row;
    justify-content: center;
}

.addback button{
	margin: 20px;
    width: 80px;
    height: 35px;
    background: gray;
    color: white;
}

.addback button:hover{
    color: black;
}

.text-success{
	color:green !important;
}

.text-danger{
	color:red !important;
}

.inputid{
	display: flex;
}

#registertable input{
	width: 95%;
    margin: 0 10px;
    border-radius: 5px;
    height: 35px;
}

.inputid button {
	width: 80px !important;
    height: 40px !important;
    margin-right: 5px;
    border-radius: 5px;
}