@charset "UTF-8";
.l-d-flex{
	display: flex;
	flex-direction: column;
}
header{
	display: flex;
    justify-content: space-between;
    background-color: darkseagreen;
    padding: 20px 50px;
    align-items: center;
}

header .list-grouping a{
	color:white;
	font-family: math;
	font-size: xxx-large;
    margin: 10px;
}

footer{
	background-color: #95d595;
}

.footer_main{
	display: flex;
	margin: 0 auto;
    width: 980px;
}

.footer_main_logo{
	margin-right: 135px; 
    padding: 25px;
    margin-left: 70px;
}

.footer_main_text{
	margin-top:20px;
    color: white;
}

.footer_main_text h2{
    font-size: larger;
    font-family: math;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer_bottom{
    text-align: center;
    color: white;
    font-family: math;
    font-size: larger;
    padding: 20px;
}
.admin{
    height: 20px;
    position: relative;
    top: 3px;
}
.active{
	color: greenyellow !important;
    text-decoration: underline;
}