@charset "UTF-8";
.l-d-flex{
	display: flex;
	flex-direction: column;
}
header{
	display: flex;
    justify-content: space-between;
    background-color: darkseagreen;
    padding: 20px 50px;
    align-items: center;
}

@media screen and (max-width:480px){
	header{
		flex-direction: column;
	    padding: 10px 10px;
	}
	header img{
        width: 50px;
    	height: 50px;
	    
	}
}

header .list-grouping a{
	color:white;
	font-family: math;
	font-size: xxx-large;
    margin: 10px;
}

@media screen and (max-width:480px){
	
	header .list-grouping a{
	font-size: x-small;
    margin: 5px;
	}

}

footer{
	background-color: #95d595;
}

.footer_main{
	display: flex;
	justify-content: center;
    width: 100%;
}

.footer_main_logo{
    margin-right: 100px;
    padding: 25px;
    margin-left: -175px;
}

.footer_main_text{
	margin-top:20px;
    color: white;
}

.footer_main_text h2{
    font-size: larger;
    font-family: math;
    margin-top: 20px;
    margin-bottom: 10px;
    color:  white;
}

.footer_bottom{
    text-align: center;
    color: white;
    font-family: math;
    font-size: larger;
    padding: 20px;
}
.admin{
    height: 20px;
    position: relative;
    top: 3px;
}
.active{
	color: greenyellow !important;
    text-decoration: underline;
}