@charset "UTF-8";


.magin_bottom_30{
	margin-bottom: 30px;
}

#sogae{
	background-image: url(../resources/images/newplant.jpg);
    width: 100vw;
    height: 650px;
    background-position: 0 900px;
    text-align: center;
    color: white;
}

#sogae h1{
    font-weight: bold;
    font-size: 50px;
    padding: 135px 0 100px;
    font-family: monospace;
}

#sogae span{
    color: greenyellow;
}

#sogae p{
    font-size: larger;
    margin: 20px;
}

#vision{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 800px;
}

.vision_head{
	text-align: center;
    margin: 30px;
}

.vision_main{
    display: flex;
    justify-content: space-between;
    margin: 100px 0 100px;
}

.vision_main div{
    text-align: center;
}

.vision_main h3{
    padding: 20px;
}


#vision h1{
	font-size: 50px;
	padding: 20px;
	font-family: serif;
	color: darkgreen;
}

#vision h3{
    font-size: 25px;
    font-family: serif;
    color: darkgreen;
}

#vision p{
    color: darkgreen;
}

#jido {
	margin: 0 auto;
	width: 800px;
}

#jido h1{
    text-align: center;
    font-size: 50px;
    font-family: serif;
    color: darkgreen;
    margin: 30px 0;
}

#jido h2{
    font-size: 30px;
    font-family: serif;
    color: darkgreen;
    margin: 20px 0;
}
#jido h3{
    font-family: serif;
    color: darkgreen;
    margin: 15px 0;
}

.jihachul1{
	text-indent: -9999px;
	overflow: hidden;
	float: left;
	width: 14px;
	height: 14px;
	margin-right: 5px;
	background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/ico_traffic_220511.png) no-repeat;
	background-position: -180px 0;
}

.jihachulp{
    position: relative;
    top: -1px;
    margin: 10px 0;
}

.busgansun{
	text-indent: -9999px;
	overflow: hidden;
	float: left;
	width: 26px;
	height: 16px;
	margin-right: 5px;
	background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/ico_traffic_220511.png) no-repeat;
	background-position:0 -410px;
}

.busjisun{
	text-indent: -9999px;
	overflow: hidden;
	float: left;
	width: 26px;
	height: 16px;
	margin-right: 5px;
	background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/ico_traffic_220511.png) no-repeat;
	background-position:-60px -410px;
}

.busgwang{
	text-indent: -9999px;
	overflow: hidden;
	float: left;
	width: 26px;
	height: 16px;
	margin-right: 5px;
	background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/ico_traffic_220511.png) no-repeat;
	background-position:-360px -410px;
}

.busnung{
	text-indent: -9999px;
	overflow: hidden;
	float: left;
	width: 34px;
	height: 16px;
	margin-right: 5px;
	background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/ico_traffic_220511.png) no-repeat;
	background-position:0 -430px;
}

.busp{
    position: relative;
    margin: 10px 0;
}